/* Variables for consistent styling */
:root {
    --primary-color: #001845;
    --secondary-color: #184e77;
    --text-color: white;
    --highlight-color: #118ab2;
    --font-primary: "Oswald", sans-serif;
    --font-secondary: "Roboto Condensed", sans-serif;
}



/* Barra de navegación */
.navbar {
    padding: 2rem;
    background-color: var(--primary-color);
}

.navbar-nav .nav-link {
    color: var(--text-color);
    font-family: var(--font-primary);
    font-size: x-large;
}

.navbar-nav .nav-link.active {
    color: var(--text-color);
}

.navbar-toggler {
    border-color: var(--text-color);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

.a-nav {
    color: var(--text-color);
    align-items: flex-end;
}

/* Adaptable responsivo */
@media screen and (max-width: 767px) {
    .navbar-brand {
        display: none;
    }

    .navbar-nav .nav-link {
        font-size: x-large;
    }
}

/* Estilos generales */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2.5rem;
}

.principal {
    background-color: white;
    min-height: 450px;
    text-align: center;
    background-image: url('../Images/4884273.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.icon-g {
    font-size: 50px;
    color: var(--text-color);
}

.container-principal {
    padding: 3rem;
    font-family: var(--font-secondary);
}

.container-principal h2 {
    font-size: 1.5rem;
}

@keyframes espacio-letras {
    0% {
        letter-spacing: 1px;
        text-shadow: 0 0 0 rgba(0, 0, 0, 0);
        opacity: 0;
    }
    100% {
        letter-spacing: 5px;
        text-shadow: 3px 1px 0 black, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white;
        opacity: 1;
    }
}

.name {
    font-family: "Anton SC", sans-serif;
    animation: espacio-letras 2s forwards;
    color: var(--highlight-color);
    text-shadow: 1px 1px 0 white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white;
}

.nameLogo {
    font-family: var(--font-primary);
    animation: espacio-letras 2s forwards;
    color: var(--highlight-color);
}

h4, .text, .section-title, .btn-info {
    font-family: var(--font-primary);
}

h4, .text {
    color: var(--text-color);
}

.section-title {
    font-size: 2rem;
    padding: 15px 0;
}

.section-text, .btn-info {
    font-family: var(--font-secondary);
}

.section-text {
    font-size: 1.2rem;
    padding: 5px;
}

.btn-info {
    font-size: 1.1rem;
    margin: 20px;
}

/* Estilo imágenes */
.fotoPerfil {
    height: 200px;
    margin: 20px;
}

.principal-lower {
    height: 400px;
}

.principal-lower img {
    margin: 0 10px;
    flex-wrap: wrap;
    width: 80px;
    padding: 10px;
    border-radius: 100%;
    background-color: var(--secondary-color);
}

/* Sección secundaria */
.section-dark {
    background-color: var(--primary-color);
    color: var(--text-color);
}

.about-me {
    height: 400px;
    padding: 190px;
}

.about-me .contenedor {
    text-align: center;
    width: -200px;
}

/* Experiencia */
.experience {
    padding: 40px 40px 60px 40px;
    color: var(--text-color);
    background-color: var(--primary-color);
    text-align: center;
}

.experience .column {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid rgb(252, 252, 252);
    transition: all 0.2s ease-in;
}

.experience .column:hover {
    color: black;
    background-color: #caf0f8;
}

.experience i {
    font-size: 2.5rem;
    color: aqua;
    padding: 8px 19px;
    border-radius: 100%;
    background-color: var(--secondary-color);
}

.experience p {
    font-family: var(--font-secondary);
}

.experience-title {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}

.badges-container {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

.badges {
    margin: 5px;
}

.text-institucion {
    font-family: var(--font-secondary);
}

.cbn {
    transition: 0.2s all ease-in-out;
    text-decoration: none; /* Esto elimina el subrayado del enlace */
}

.cbn:hover {
    background-color: var(--primary-color); /* Cambia el fondo al pasar el ratón */
    color: #fff; /* Cambia el color del texto a blanco para contraste */
    border-radius: 4px; /* Opcional: añade bordes redondeados al botón */
    padding: 5px 10px; /* Opcional: añade algo de espacio alrededor del texto */
}

@media (max-width: 768px) {
    .experience .column {
        padding: 10px;
    }
}


/* Proyectos */
.project {
    padding: 40px;
}

.projects-img {
    position: relative;
    padding: 10px;
}

.projects-img img {
    height: 100%;
    width: 110%;
    border-radius: 10px;
    display: block;
    transition: all 2s ease;
    border: solid var(--text-color);
}

.project-container {
    padding-top: 60px;
    margin-top: 40px;
}

.overlay {
    transition: all 2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--text-color);
    border-radius: 10px;
}

.overlay p {
    font-family: var(--font-secondary);
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
}

.projects-img:hover img {
    opacity: 0.2;
}

.projects-img:hover .overlay {
    opacity: 1;
}

.overlay .icons-container {
    display: flex;
}

.overlay i {
    margin: 20px;
}

.section-description {
    font-size: 1.2rem;
    color: var(--text-color);
}

.text-white {
    color: var(--text-color);
}

 /*CONTACTO*/

 .contact {
    padding: 40px;
    background-color: var(--primary-color);
    color: var(--text-color); 
    margin-top: 50px; 
}

.contact .container {
    max-width: 1100px;
    min-height: 150px;
    padding: 20px; 
}

.contact .rectangle {
    margin-top: -5rem;
    background-color: #caf0f8;
    border-radius: 50px;
    box-shadow: 0px 1px 4px 1px white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact .description {
    color: black;
    font-size: 1.2rem; 
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.contact .section-title h1 {
    color: black;
    font-family: var(--font-primary);
    text-align: center;
    margin-bottom: 20px;
}

.contact .button-group {
    display: flex;
    gap: 20px; /* Espacio entre los botones */
    justify-content: center;
    margin-top: 20px;
}

.contact .contact-button {
    color: black; 
    font-weight: bold;
    background-color: transparent;
    border: 2px solid black;
    padding: 1.25em 2em;
    border-radius: 100px;
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact .contact-button i {
    font-size: 1.3rem;
    margin-left: 10px;
    transition: all 0.2s ease-in-out;
}

.contact .contact-button:hover {
    background-color: #001845;
    color: white;
}

.contact .contact-button:hover i {
    color: white;
}

/* Specific styles for email button */
.contact .email-button:hover {
    background-color: #ea4335; /* Red color for Gmail */
    color: white;
}

.contact .email-button:hover i {
    color: white;
}

/* Specific styles for WhatsApp button */
.contact .whatsapp-button {
    border-color: #25d366;
}

.contact .whatsapp-button i {
    color: #25d366;
}

.contact .whatsapp-button:hover {
    background-color: #25d366; /* Green color for WhatsApp */
    color: white;
}

.contact .whatsapp-button:hover i {
    color: white;
}



body {
    margin: 0 -6px;
    background-color: var(--secondary-color);
}

.footer {
    background-color: var(--secondary-color);
    color: #ffffff;
  }
  
  .footer .social-icons {
    margin-top: 10px; 
   
  }
  
  .footer .social-icons a {
    color: #ffffff;
    margin: 0 20px;
    text-decoration: none;
    font-size: 1.5rem;
    
  }
  
  .footer .social-icons .icon-g:hover {
    color: black
  }

  .footer .social-icons .icon-l:hover {
    color: #25d366
  }

  .footer .social-icons .icon-t:hover {
    color: #ea4335
  } 

  .footer small{
    font-size: 10px; 
    font-family: var(--font-secondary);

  }
  
  .back a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    padding: 10px;
    border-radius: 4px;
}

.back a:hover {
    background-color: aqua;
    color: black;
    font-family: var(--font-primary);
}



@media (max-width: 768px) {
    .social-icons {
        margin: 10px 0;
    }

    .social-icons a {
        font-size: 1.2rem;
    }

    .back {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 0.9rem;
    }

    .back a {
        margin: 5px 0;
    }
}




/* Mejoras para la visibilidad de los logos en pantallas pequeñas */
@media screen and (max-width: 676px) {
    .principal-lower img {
        width: 50px; /* Ajustado para mejorar la visibilidad */
    }

    .navbar,
    .about-me,
    .principal,
    .about-me .contenedor,
    .experience,
    .project {
        width: 100%;
    }

    .about-me {
        height: auto;
        padding: 20px;
    }

    .overlay p {
        font-size: 18px;
    }

    .overlay i {
        font-size: 50px;
        margin: 10px;
    }

    .experience .column {
        padding: 10px;
    }

    .projects-img img {
        width: 100%;
    } 

    .contact .button-group {
        flex-direction: column;
        gap: 10px; /* Reduce gap between buttons for smaller screens */
        align-items: center;
    }

    .contact .contact-button {
        padding: 0.75em 1.5em; /* Reduce el tamaño de los botones */
        font-size: 0.9rem; /* Reduce el tamaño del texto en los botones */
    }

    .contact .contact-button i {
        font-size: 1rem; /* Reduce el tamaño del icono */
    } 

    
      

   
    
}
